<div id="show">
  <h1>Search Results</h1>
  <p class="small right"><%= link_to raw("Search Again &raquo;"), :jobs %></p>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Blastn</a></li>
      <li><a href="#tabs-2">Blastx</a></li>
      <li><a href="#tabs-3">Tblastn</a></li>
      <li><a href="#tabs-4">Blastp</a></li>
      <li><a href="#tabs-5">Hmmer</a></li>
    </ul>
    
    <div id="tabs-1">
      <h2>Blastn</h2>
      <div id="blastn-results">
        Searching... <%= image_tag "quorum/knight_rider.gif" %> 
      </div>
    </div>

    <div id="tabs-2">
      <h2>Blastx</h2>
      <div id="blastx-results">
        Searching... <%= image_tag "quorum/knight_rider.gif" %> 
      </div>
    </div>

    <div id="tabs-3">
      <h2>Tblastn</h2>
      <div id="tblastn-results">
        Searching... <%= image_tag "quorum/knight_rider.gif" %> 
      </div>
    </div>

    <div id="tabs-4">
      <h2>Blastp</h2>
      <div id="blastp-results">
        Searching... <%= image_tag "quorum/knight_rider.gif" %> 
      </div>
    </div>

    <div id="tabs-5">
      <h2>Hmmer</h2>
      <div id="hmmer-results">
      </div>
    </div>
  </div>
  <p class="small right"><%= link_to raw("Search Again &raquo;"), :jobs %></p>

  <div id="detailed_report_dialog" title="Quorum Report Details"></div>
</div>

<script type="text/template" id="blast_template">
  {{ if (data[0].results === false) { }}
    <p><strong>Your search returned 0 hits.</strong></p>
  {{ } else { }}
	  <table class="report_details">
	    <tr>
	      <th>Query ID</th>
	      <th>Query Length</th>
	      <th>Hit Accession</th>
	      <th>Hit Length</th>
	      <th>Qstrand / Hstrand</th>
	      <th>Hit Description</th>
	      <th>Alignment Length</th>
	      <th>Bit Score</th>
	      <th>E-value</th>
	    </tr>
	    {{ var i = 1; var style = "" }}
	    {{ _.each(data, function(v) { }}
	      {{ i % 2 == 0 ? style = "even" : style = "odd" }}
        {{ var qstrand = v.query_frame }}
        {{ var hstrand = v.hit_frame }}
	      <tr class="{{= style }}">
	        <td>{{= v.query }}</td>
	        <td>{{= v.query_len }}</td>
	        <td></td>
	        <td>{{= v.hit_len }}</td>
          <td>{{= formatStrand(qstrand, hstrand) }}</td>
	        <td></td>
	        <td>{{= v.align_len }}</td>
	        <td>{{= v.bit_score }}</td>
          <td>
            <a class="detailed_report" 
              onclick="viewDetailedReport(
                <%= @jobs.id %>, 
                {{= v.id }}, 
                '{{= v.query }}', 
                '{{= algo }}')">
              {{= v.evalue }}
            </a>
          </td>
	      </tr>
	      {{ i++ }}
	    {{ }); }}
	  </table>
  {{ } }}
</script>

<script type="text/template" id="detailed_report_template">
  <h3>Query ID {{= query }}</h3>
  {{ _.each(data, function(v) { }}
    {{ var qseq    = v.qseq }}
    {{ var midline = v.midline }}
    {{ var hseq    = v.hseq }}
    {{ var q_from  = v.query_from }}
    {{ var q_to    = v.query_to }}
    {{ var h_from  = v.hit_from }} 
    {{ var h_to    = v.hit_to }} 
    {{ var qstrand = v.query_frame }}
    {{ var hstrand = v.hit_frame }}
    <div id="{{= v.id }}">
      <p class="small">Hit Accession: {{= v.hit_accession }}</p>
      <p class="small">Hit Discription: {{= v.hit_def }}</p>
	    <table class="report_details">
	      <tr>
	        <td>E-value:</td>
	        <td>{{= v.evalue }}</td>
	        <td>Bit Score:</td>
	        <td>{{= v.bit_score }}</td>
          <td></td>
          <td></td>
	      </tr>
	      <tr>
	        <td>Alignment Length:</td>
	        <td>{{= v.align_len }}</td>
	        <td>Qstrand / Hstrand:</td>
	        <td>{{= formatStrand(qstrand, hstrand) }}</td>
          <td></td>
          <td></td>
	      </tr>
	      <tr>
	        <td>Query From:</td>
	        <td>{{= v.query_from }}</td>
	        <td>Query To:</td>
	        <td>{{= v.query_to }}</td>
          <td>Query Length:</td>
	        <td>{{= v.query_len }}</td>
	      </tr>
	      <tr>
	        <td>Hit From:</td>
	        <td>{{= v.hit_from }}</td>
	        <td>Hit To:</td>
	        <td>{{= v.hit_to }}</td>
          <td>Hit Length:</td>
	        <td>{{= v.hit_len }}</td>
	      </tr>
	    </table>
	    {{= formatSequenceReport(qseq, midline, hseq, q_from, q_to, h_from, h_to, algo) }}
    </div>
  {{ }); }}
</script>

<script type="text/javascript">
  $(function() {
    pollResults(
      <%= @jobs.id %>, 
      ["blastn", "blastx", "tblastn", "blastp"]
    );
  });
</script>
