<div id="show">
  <h1>Search Results</h1>
  <p class="small right"><%= link_to raw("Search Again &raquo;"), :jobs %></p>
  <!-- Tabs -->
  <!-- To remove an algorithm from the view, simply comment out the -->
  <!-- div#tabs ul li and corresponding div#tabs-(tab number) -->
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Blastn</a></li>
      <li><a href="#tabs-2">Blastx</a></li>
      <li><a href="#tabs-3">Tblastn</a></li>
      <li><a href="#tabs-4">Blastp</a></li>
    </ul>

    <!-- Search results per algorithm -->
    <div id="tabs-1">
      <h2>Blastn</h2>
      <div id="blastn-results">
        Searching... <%= image_tag "quorum/loading.gif" %> 
      </div>
    </div>

    <div id="tabs-2">
      <h2>Blastx</h2>
      <div id="blastx-results">
        Searching... <%= image_tag "quorum/loading.gif" %> 
      </div>
    </div>

    <div id="tabs-3">
      <h2>Tblastn</h2>
      <div id="tblastn-results">
        Searching... <%= image_tag "quorum/loading.gif" %> 
      </div>
    </div>

    <div id="tabs-4">
      <h2>Blastp</h2>
      <div id="blastp-results">
        Searching... <%= image_tag "quorum/loading.gif" %> 
      </div>
    </div>
  </div>
  <!-- End Tabs -->
  <p class="small right"><%= link_to raw("Search Again &raquo;"), :jobs %></p>

  <!-- Detailed report element -->
  <div id="detailed_report_dialog" title="Quorum Report Details"></div>
</div>
<div id="quorum">              
  <hr class="big" />
  <p> 
    Powered by <%= link_to "Quorum", "https://github.com/ncgr/quorum" %>
  </p>
</div>

<!-- Blast Results Template -->
<script type="text/template" id="blast_template">
  {{ if (data[0].results === false) { }}
    <p><strong>Your search returned 0 hits.</strong></p>
  {{ } else { }}
	  <table class="results">
	    <tr>
	      <th>Query Accession</th>
	      <th>Query Length</th>
	      <th>Hit Length</th>
	      <th>Qstrand / Hstrand</th>
	      <th>Hit Accession</th>
	      <th>Hit Description</th>
	      <th>Alignment Length</th>
        <th>
          <a class="bit-score"
            onclick="openWindow(
              'http://www.ncbi.nlm.nih.gov/books/NBK21106/def-item/app8/',
              'Bit Score',
              800,
              300
            )">
            Bit Score
          </a>
        </th>
        <th>
          <a class="e-value"
            onclick="openWindow(
              'http://www.ncbi.nlm.nih.gov/books/NBK21106/def-item/app42/',
              'E-value',
              800,
              300
            )">
            E-value
          </a>
        </th>
	    </tr>
	    {{ var i = 1; var style = "" }}
	    {{ _.each(data, function(v) { }}
	      {{ i % 2 == 0 ? style = "even" : style = "odd" }}
        {{ var qstrand = v.query_frame }}
        {{ var hstrand = v.hit_frame }}
	      <tr class="{{= style }}">
	        <td>{{= v.query }}</td>
	        <td class="right">{{= v.query_len }}</td>
	        <td class="right">{{= v.hit_len }}</td>
          <td>{{= formatStrand(qstrand, hstrand) }}</td>
          <td>{{= v.hit_display_id }}</td>
          <td>{{= v.hit_def.trunc(20) }}</td>
	        <td class="right">{{= v.align_len }}</td>
	        <td class="right">{{= v.bit_score }}</td>
          <td class="right">
            <a class="detailed_report" 
              onclick="viewDetailedReport(
                <%= @jobs.id %>, 
                {{= v.id }}, 
                '{{= v.query }}', 
                '{{= algo }}')">
              {{= v.evalue }}
            </a>
          </td>
	      </tr>
	      {{ i++ }}
	    {{ }); }}
	  </table>
  {{ } }}
</script>

<!-- Detailed Report Template -->
<script type="text/template" id="detailed_report_template">
  <h3>Query Accession {{= query }}</h3>
  {{ _.each(data, function(v) { }}
    {{ var id        = v.id }}
    {{ var qseq      = v.qseq }}
    {{ var midline   = v.midline }}
    {{ var hseq      = v.hseq }}
    {{ var q_from    = v.query_from }}
    {{ var q_to      = v.query_to }}
    {{ var h_from    = v.hit_from }} 
    {{ var h_to      = v.hit_to }} 
    {{ var qstrand   = v.query_frame }}
    {{ var hstrand   = v.hit_frame }}
    {{ var hsp_group = v.hsp_group }}
    <div id="{{= id }}">
      <p class="small">{{= displayHspLinks(id, hsp_group, data) }}</p>
      <p class="small">Hit Accession: {{= v.hit_display_id }}</p>
      <p class="small">Hit Description: {{= v.hit_def }}</p>
	    <table class="report_details">
	      <tr>
	        <td>E-value: {{= v.evalue }}</td>
	        <td>Bit Score: {{= v.bit_score }}</td>
          <td></td>
	      </tr>
	      <tr>
	        <td>Alignment Length: {{= v.align_len }}</td>
	        <td>Qstrand / Hstrand: {{= formatStrand(qstrand, hstrand) }}</td>
          <td></td>
	      </tr>
	      <tr>
          <td>Query Length: {{= v.query_len }}</td>
	        <td>Query From: {{= v.query_from }}</td>
	        <td>Query To: {{= v.query_to }}</td>
	      </tr>
	      <tr>
          <td>Hit Length: {{= v.hit_len }}</td>
	        <td>Hit From: {{= v.hit_from }}</td>
	        <td>Hit To: {{= v.hit_to }}</td>
	      </tr>
	    </table>
      <p class="small">
        <a onclick="downloadSequence(<%= @jobs.id %>, {{= id }}, '{{= algo }}')">
          Download Sequence
        </a>
      </p>
	    {{= formatSequenceReport(qseq, midline, hseq, q_from, q_to, h_from, h_to, algo) }}
    </div>
    <hr />
  {{ }); }}
</script>

<script type="text/javascript">
  $(function() {
    //
    // Asynchronously poll Quorum for search results.
    //
    //  pollResults(id, interval) 
    //    id: Job.id
    //    interval: poll interval in milliseconds. 5000 default.
    //
    pollResults(<%= @jobs.id %>);
  });
</script>
