<div id="show">
  <h1>Search Results</h1>
  <p class="small right"><%= link_to raw("Search Again &raquo;"), :jobs %></p>
  <%# Tabs %>
  <%# To remove an algorithm from the view, simply comment out the %>
  <%# div#tabs ul li and corresponding div#tabs-(tab number) %>
  <div id="tabs">
    <ul>
      <li><a href="#blastn">Blastn</a></li>
      <li><a href="#blastx">Blastx</a></li>
      <li><a href="#tblastn">Tblastn</a></li>
      <li><a href="#blastp">Blastp</a></li>
      <li><a href="#gmap">Gmap</a></li>
    </ul>

    <%# Search results per algorithm %>
    <div id="blastn">
      <h2>Blastn</h2>
      <div id="blastn-results">
        Searching... <%= image_tag "quorum/loading.gif" %>
      </div>
    </div>

    <div id="blastx">
      <h2>Blastx</h2>
      <div id="blastx-results">
        Searching... <%= image_tag "quorum/loading.gif" %>
      </div>
    </div>

    <div id="tblastn">
      <h2>Tblastn</h2>
      <div id="tblastn-results">
        Searching... <%= image_tag "quorum/loading.gif" %>
      </div>
    </div>

    <div id="blastp">
      <h2>Blastp</h2>
      <div id="blastp-results">
        Searching... <%= image_tag "quorum/loading.gif" %>
      </div>
    </div>

    <div id="gmap">
      <h2>Gmap</h2>
      <div id="gmap-results">
        Searching... <%= image_tag "quorum/loading.gif" %>
      </div>
    </div>
  </div>
  <%# End Tabs %>
  <p class="small right"><%= link_to raw("Search Again &raquo;"), :jobs %></p>

  <%# Detailed report element %>
  <div id="detailed_report_dialog" title="Quorum Report Details"></div>
</div>
<div id="quorum">
  <hr class="big" />
  <p>
    Powered by <%= link_to "Quorum v#{Quorum::VERSION}", "https://github.com/ncgr/quorum" %>
  </p>
</div>

<%# Templates %>
<%= render :partial => "quorum/jobs/templates/blast_template" %>
<%= render :partial => "quorum/jobs/templates/gmap_template" %>
<%= render :partial => "quorum/jobs/templates/blast_detailed_report_template" %>
<%= render :partial => "quorum/jobs/templates/gmap_detailed_report_template" %>

<script type="text/javascript">
  $(function() {
    //
    // Asynchronously poll Quorum for search results.
    //
    //  QUORUM.pollResults(callback, callback_obj, interval)
    //    callback: Define your own callback function to override the default.
    //      callback should expect the following params.
    //        data: JSON data (JSON),
    //        algorithm: Supported algorithm (String).
    //    callback_obj: Callback object.
    //    interval: poll interval in milliseconds. 5000 default.
    //
    //  Example:
    //    QUORUM.pollResults(MYAPP.myCoolCallback, MYAPP, 5000);
    //
    //  Example callback:
    //    MYAPP.myCoolCallback = function(data, algo) {
    //      // awesome logic
    //    };
    //
    //  See https://github.com/ncgr/lis_sequence_search for a complete example
    //  using d3.js (http://d3js.org/).
    //
    QUORUM.pollResults();
  });
</script>
