<div id="blasts-new">
  <h1>NCBI Blast</h1>

  <%= form_for @blast, :html => {:id => "quorum_blast"} do |f| %>
    <%= render "shared/error_messages", :target => @blast %>
    <div>
      <span class="radio-form">
        Query sequences are 
        <%= f.radio_button :sequence_type, 'nucleic_acid', 
          :checked => true %> Nucleic Acid 
        <%= f.radio_button :sequence_type, 'amino_acid' %> Peptide 
      </span>
    </div>
    <div>
      <%= f.text_area :sequence, :title => "Paste sequence(s) here or upload a file below.",
        :class => "auto-hint" %>
    </div>
    <div>
      <%= f.file_field :sequence_file %>
      <%= link_to raw("Options &raquo;"), "#", :id => "options", 
        :class => "right" %>
    </div>
    <div id="blast-options">
	    <table>
	      <tr>
	        <td>
	          <%= f.label :expectation %>
	        </td>
	        <td>
	          <%= f.text_field :expectation, :size => 15, :title => "5e-20 (default)",
	          :class => "auto-hint" %>
	        </td>
	        <td>
	          <%= f.label :max_score %>
	        </td>
	        <td>
	          <%= f.text_field :max_score, :size => 15, :title => "25 (default)", 
	          :class => "auto-hint" %>
	        </td>
	      </tr>
	      <tr>
	        <td>
	          <%= f.label :min_bit_score %>
	        </td>
	        <td>
	          <%= f.text_field :min_bit_score, :size => 15, :title => "0 (display all default)", 
	          :class => "auto-hint" %>
	        </td>
	        <td>
	          <%= f.label :gapped_alignments %>
	        </td>
	        <td>
	          <%= f.select :gapped_alignments, [['No', false], ['Yes', true]] %>
	        </td>
	      </tr>
	      <tr id="gap-extras">
	        <td colspan="2">
            <%= f.label :gap_opening_extension, 
              "Gap opening extension values" %>
	        </td>
	        <td colspan="2">
            <%= f.select :gap_opening_extension, 
              options_for_select(
                @blast.gap_opening_extension_values,
                @blast.gap_opening_extension
              )
            %>
		      </td>
	      </tr>
	    </table>
    </div>
    <div>
      <%= f.submit "Submit" %>&nbsp;&nbsp;
      <%= submit_tag "Reset", :name => "reset", 
        :type => "button", :id => "quorum_blast_reset" %>
      <div id="loading">
        <%= image_tag "quorum/knight_rider.gif" %> 
      </div>
    </div>
  <% end %>
</div>
